In [1]:
# Add Matplotlib inline magic
%matplotlib inline
# Dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import os

In [4]:
#Files to load
city_data_to_load = os.path.join('Resources' , 'city_data.csv')
ride_data_to_load = os.path.join('Resources' , 'ride_data.csv')
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [12]:
# Count Null Columns
city_data_df.isnull().sum()
ride_data_df.isnull().sum()
#zero nulls in all columns both sheets

#determine data types
city_data_df.dtypes
ride_data_df.dtypes

# count city numbers
city_data_df['type'].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [15]:
# Count Urban Cities
sum(city_data_df['type'] == 'Rural')

18

In [16]:
pyber_data_df = pd.merge(ride_data_df , city_data_df , how='left' , on = ['city' , 'city'])
pyber_data_df.head(10)

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
5,South Latoya,2019-03-11 12:26:48,9.52,1994999424437,10,Urban
6,New Paulville,2019-02-27 11:17:56,43.25,793208410091,44,Urban
7,Simpsonburgh,2019-04-26 00:43:24,35.98,111953927754,21,Urban
8,South Karenland,2019-01-08 03:28:48,35.09,7995623208694,4,Urban
9,North Jasmine,2019-03-09 06:26:29,42.81,5327642267789,33,Urban